
body {
	text-align: center;
}

button {
	background: linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 49%, rgba(212,212,212,1) 99%, rgba(212,212,212,1) 100%);
	border-radius: 3px;
}

p {
	display: inline;
}
.wrapper {
	display: inline-block;
	width: 40%;
	position: relative;
}
 
.left-side-buttons {
	float: left;
}
.right-side-buttons {
	display: inline-block;
}
.empty {
	width: 20px;
	height: 20px;
	margin-bottom: 20px;
	margin-top: 9px;
}
.display-area, .text-area, .buttons {
	display: inline-block;
}
.display {
	float: left;
	width: 240px;
	height: 170px;
	background:radial-gradient(ellipse at center, rgba(204,238,252,1) 0%, rgba(197,234,252,1) 33%, rgba(111,208,219,1) 99%, rgba(110,208,219,1) 100%);
	border-top: 5px groove rgb(226, 224, 236);
	border-right: 5px ridge rgb(226, 224, 236);
	border-bottom: 7px ridge rgb(215, 212, 230);
	border-left: 5px groove rgb(226, 224, 236);
}

.number-buttons {
	width: 50%;
	display: inline-block;

}

.number {
	width: 29px;
	height: 29px;
	display: inline-block;

}

.control-buttons {
	display: inline-block;
}
.control {
	width: 75px;
	padding: 4px 5px;
	margin-bottom: 17px;
}

.card {
	position: absolute;
	top: 0;
	right: 0;
}

.cansel-button {
	background: linear-gradient(45deg, rgba(227,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(171,0,0,1) 100%);
	border-color: red;
}

.submit-button {
	background: linear-gradient(45deg, rgba(202,255,196,1) 0%, rgba(202,255,196,1) 1%, rgba(7,171,12,1) 50%, rgba(35,255,15,1) 100%);
	border-color: #0fae14;
}

.clear-button {
	background: linear-gradient(45deg, rgba(199,204,59,1) 0%, rgba(199,204,59,1) 1%, rgba(250,242,22,1) 50%, rgba(193,199,12,1) 100%);
	border-color: #e1df28;
}

.cash-machine {
	width: 320px;
	display: inline-block;
	padding: 10px 0;
	background: linear-gradient(37deg, rgba(0,92,0,1) 0%, rgba(0,207,0,1) 100%);
	box-shadow: -12px -8px 30px -6px rgba(0,0,0,0.75);
}

.buttons {
	width: 80%;

}

.wallet {
	margin-left: 2px;
	margin-top:  100px;
	position: absolute;
	padding-left: 510px;
}

.name-input {
	display: none;
}

.new-card {
	margin-top: 5px;
	margin-left: 5px;
	height: 200px;
	width: 300px;
	background-color: saddlebrown;
	position: relative;
}

.ok-button {
	display: none;
}