#text {
    height: 60px;
    width: 240px;
}

#receiver {
    border-width: 4px;
    border-color:aqua
}

#staticReceiver {
    margin-bottom: 23px;
}

#textRexeiver {
    color: white;
    font-size: 16px
}